.completed{
    text-decoration: line-through;
    color: red;
    border: 1px solid red;
}
body {
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.281224) 0%, rgba(253, 187, 45, 1) 100%);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
}
#container {
    background: rgb(41, 33, 33);
  width: 400px;
  margin: 0 auto;
  border: 2px solid #0033ff;
  padding: 20px;
  color: white;
  border-radius: 15px; 
}
